{% extends "base.html" %}
{% block title %}{{ object|title }}{% endblock %}
{% block content %}

  <div class="container" style="margin: 0 auto;">

      <div class="jumbotron">
        <a href="{{ object.get_absolute_url }}">
          <h1>{{ object|title }}</h1>
        </a>
        <p class="text-warning">Posted by <a href="{% url 'author' author=object.author %}">{{ post.author }}</a> at {{ object.created }} {% if post.previous %}(<a href="{% url 'root' slug=post.slug %}">root</a>){% endif %}</p>

        <br>
        <p>{{ object.content|linebreaks }}</p>
        <br>

        {% for tag in tags %}{% if forloop.first %}<a href="{% url 'tags' %}">tags</a>: {% endif %}
        <a class="btn btn-xs btn-default" href="{% url 'tagged_posts' tag=tag %}" role="button">{{ tag }}</a>
        {% endfor %}

        <br>

        {% include "post/includes/tools.html" with object=object %}

      </div>
        {% for reply in replies %}
          {% if request.user.is_staff or reply.active %}
            {% include include_template with user=request.user post=reply include_template=include_template indent=50 only %}
          {% endif %}
        {% endfor %}

        <p>
            <a class="btn btn-lg btn-primary" href="/" role="button">Return to list »</a>
        </p>

    </div>

{% endblock %}
