{% extends "base.html" %}
{% block title %}{{ object|title }}{% endblock %}
{% block content %}
<div class="container">

      <div class="jumbotron">
        <a href="{{ object.get_absolute_url }}">
          <h1>{{ object|title }}</h1>
        </a>
        <p class="text-warning">Posted by {{ object.author }} at {{ object.created }}</p>

        <br>
        <p>{{ object.content|linebreaks }}</p>
        <br>
        <p>
          <a class="btn btn-primary" href="{% url 'reply' reply=object.slug %}" role="button">Reply</a>
        </p>
      </div>

      {% if replies %}
          {% for post in replies %}
          <div class="jumbotron">
            <a href="{{ post.get_absolute_url }}">
              <h1>{{ post|title }}</h1>
            </a>
            <p class="text-warning">{{ post.author }} replied to {{ post.previous }} at {{ post.created }}</p>
            
            <br>
            <p>{{ post.content|linebreaks }}</p>
            <br>
            <p>
              <a class="btn  btn-primary" href="{% url 'reply' reply=post.slug %}" role="button">Reply</a>
            </p>
          </div>
          {% endfor %}
      {% endif %}

        <p>
            <a class="btn btn-lg btn-primary" href="/" role="button">Return to list »</a>
        </p>

    </div>

{% endblock %}