{% extends "base.html" %}

{% block content %}
  <div class="container">


      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          {% if request.user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </ul>
        <h3 class="text-muted">Forum Post Thing</h3>
      </div>

      <br>

      <div class="jumbotron">
          <h1>All Posts</h1>
          <p class="lead">Some posts will be found below. Eventually.</p>
          <p>
          <a class="btn btn-lg btn-success" href="{% url 'new_post' %}" role="button">Create New Post</a>
          <a class="btn btn-lg btn-success" href="/" role="button">View All Posts</a>
          </p>
      </div>

    <div class="row marketing">
    {% for post in object_list %}
        <div class="col-lg">
          <h4><a href="{{ post.get_absolute_url }}">
                    {{ post|title }}
                </a></h4>
          <p>{{ post.content|linebreaks }}</p>
        </div>
    {% endfor %}
    </div>

{% endblock %}
